nav {
    background-color: #16307E;
    padding: 10px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 10px;
}

li {
    margin-right: 20px;
}

li.brand {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.3s;
}

li a:hover {
    transform: scale(1.1);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}



body.login-page {
    background-color: #16307E;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.signup-page {
    background-color: #16307E;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form, .signup-form {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007bff;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.login-btn,
button.signup-btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
}

button.login-btn:hover,
button.signup-btn:hover {
    background-color: #2D9F2B;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #16307E;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
